<#import "/common/url.ftl" as url>
<#import "/common/js.ftl" as js>
<#import "/common/css.ftl" as css>
<#escape x as x?html>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>TITLE</title>
</head>
<body>
<div class="inp">
  <input type="text" placeholder="请输入留言">
</div>
</body>
</html>
</#escape>